extends ../layout

block content
  h1 artist: #{theAlbum.artist}
  h1 album: #{theAlbum.name}
  h1 genre: #{theAlbum.genre}
  h1 rating: #{theAlbum.stars} stars
  if(theAlbum.explicit === true)
    h2 Contains explicit lyrics

  form(action="/edit", method="post")
    div
      a(href="/albums/" + theAlbum.id + "/edit") Edit

  form(action="/delete", method="post")
    div
      a(href="/albums/" + theAlbum.id + "/delete") Delete

  form(action="/", method="get")
    div
      a(href="/albums/") Back
